<div class="modal-overlay" (click)="closeModal()">
    <article class="modal-content" (click)="$event.stopPropagation()">
        <div class="profile-info">
            <div class="avatar-edit-container">
                <img
                    [src]="
                        user.profileImgUrl ||
                        'https://placehold.co/40x40/533483/ffffff?text=U'
                    "
                    alt="Avatar"
                    class="profile-avatar"
                />
                <label class="edit-avatar-btn">
                    <input
                        type="file"
                        accept="image/*"
                        (change)="editProfileImage($event)"
                        hidden
                    />
                    <mat-icon>edit</mat-icon>
                </label>
            </div>
            <div
                class="username-edit-container"
                [class.editing]="editingUsername"
            >
                @if (!editingUsername) {
                <h2
                    class="username-display"
                    (mouseenter)="hoverUsername = true"
                    (mouseleave)="hoverUsername = false"
                    (click)="enableUsernameEdit()"
                    [class.hovered]="hoverUsername"
                >
                    {{ user.username }}
                    @if(hoverUsername){
                        <mat-icon class="edit-icon"
                            >edit</mat-icon
                        >
                    }
                    @if(isUsernameLoading){
                        <img src="assets/loading.gif" class="username-loader" alt="Loading">
                    }
                    @if(isUsernameSuccess){
                        <mat-icon class="username-succes">check_circle</mat-icon>
                    }
                </h2>
                } @else {
                <input
                    class="username-input"
                    [(ngModel)]="newUsername"
                    (blur)="submitUsernameEdit()"
                    (keydown.enter)="submitUsernameEdit()"
                    autofocus
                />
                }
            </div>
            <p class="profile-email">{{ user.email }}</p>
            <p>Member since: {{user.createdAt | date:'mediumDate'}}</p>
        </div>
        <div class="profile-actions">
            <div class="user-status-toggle">
                <button
                    mat-stroked-button
                    [class.active]="user.status === 'online'"
                    (click)="setStatus(UserStatus.ONLINE)"
                >
                    <mat-icon color="primary">circle</mat-icon>
                    Online
                </button>
                <button
                    mat-stroked-button
                    [class.active]="user.status === 'working'"
                    (click)="setStatus(UserStatus.WORKING)"
                >
                    <mat-icon color="accent">work</mat-icon>
                    Working
                </button>
                <button
                    mat-stroked-button
                    [class.active]="user.status === 'offline'"
                    (click)="setStatus(UserStatus.OFFLINE)"
                >
                    <mat-icon color="warn">circle</mat-icon>
                    Offline
                </button>
            </div>
            <button mat-stroked-button color="warn" (click)="handleLogout()">
                Cerrar sesión
            </button>
        </div>
        <!-- Trabajar con sockets el estado del usuario. Online | Working | Offline  -->
    </article>
</div>
