<ul #messagesList class="messages-list">
    @for(message of messages; track message._id){ @if($last){
    <li
        class="message-card"
        [class.my-message]="message.username === currentUser"
        #lastRef
    >
        @if($index === 0 || message.username !== messages[$index -1].username){
        <header class="message-header">
            <span class="user">{{ message.username }}</span>
        </header>
        } @if(message.imageUrl){
        <img [src]="message.imageUrl" alt="Image" />
        }
        <div class="message-text">
            {{ message.text }}
        </div>
        <footer class="message-footer">
            <span class="message-date">{{
                message.createdAt | date : "shortTime"
            }}</span>
        </footer>
    </li>
    } @else {
    <li
        class="message-card"
        [class.my-message]="message.username === currentUser"
    >
        @if($index === 0 || message.username !== messages[$index -1].username){

        <div class="message-header">
            <span class="user">{{ message.username }}</span>
        </div>
    }
        @if(message.imageUrl){
        <img [src]="message.imageUrl" alt="Image" />
        }
        <div class="message-text">
            {{ message.text }}
        </div>
        <footer class="message-footer">
            <span class="message-date">{{
                message.createdAt | date : "shortTime"
            }}</span>
        </footer>
    </li>
    } }
</ul>
