.sidebar-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    h3 {
        margin: 0;
        color: #ffffff;
        font-size: 1.1rem;
    }

    .add-button {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
            color: #a78bfa;
        }
    }
}
