.sidebar-header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: #8a72cf;
    }

    h3 {
        margin: 0;
        color: #ffffff;
    }

    .add-button {
        color: rgba(255, 255, 255, 0.7);
        margin-top: 8px;
    }
}
