<div class="home-container">
    <app-header></app-header>
    <div class="home-content">
        <app-communities-nav></app-communities-nav>
        <div class="side-nav">
            <div class="friends-button" (click)="navToFriends()">
                <h3>Friends</h3>
            </div>
            <app-group-nav></app-group-nav>
        </div>
        <main class="main-content">
            <div class="content-body">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>

@if(isCreateGroupOpen){
<app-create-group-modal></app-create-group-modal>
} @if(isCalendarOpen){
<app-calendar-modal></app-calendar-modal>
} @if(isMyUserOpen){
<app-myuser-modal></app-myuser-modal>
}
